<div class="container">

  <h1>Event Planner Registration</h1>
  <p>Please Sign Up Below, All Information is Required.</p>

  <form id="sign_up" ACTION="/sign_up" METHOD="POST">
    <label for="email">Email</label><input type="text" name="email" placeholder-"please enter your email"></input>
    <label for="password">Password</label><input type="password" name="password" placeholder-"please enter your password"></input>
    <br>
    First Name: <input type="text" name="first_name" placeholder-"first name"></input><br>
    Last Name: <input type="text" name="last_name" placeholder-"last name"></input><br>
    Birthday<input type="date" name="birthdate" placeholder="birthdate">
    <input type="submit" value="Sign Up">
  </form>

  <a href="/"><b>Home</b></a>

</div>